<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarkerlessProject"
        tools:targetApi="31">
        <activity
            android:name=".DetailPanduanActivity"
            android:exported="false" />
        <activity
            android:name=".SignInGameActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuNonAkun"
            android:exported="false" />
        <activity
            android:name=".RankingActivity"
            android:exported="false" />
        <activity
            android:name=".ResultScoreActivity"
            android:exported="false" />
        <activity
            android:name=".GameArActivity"
            android:exported="false" />
        <activity
            android:name=".PanduanActivity"
            android:exported="false"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".MenuGameActivity"
            android:exported="false"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailMateri"
            android:exported="false" />
        <activity
            android:name=".MenuMateriActivity"
            android:exported="false"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".SelectionMenu"
            android:exported="false"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>